<footer class="footer">
  <small>
    Developed for CSC510
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><a href="https://github.com/Rushi-Bhatt/SE17-Team-K">Source</a></li>
    </ul>
  </nav>
</footer>