<footer class="footer">
  <small>
    Developed for CSC510-Software Engineering
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/Rushi-Bhatt/SE17-Team-K">Source</a></li>
    </ul>
  </nav>
</footer>