<% provide(:title, "show_suggestion") %>
<div class="row">
  <% form_for(params[:feedbacks])  do |f| %>
      <% f %>
      <br />
        <br />
        <br />
        <br />
      <% end %>
    <%=link_to "Return", root_path%>
</div>
