<% provide(:title, "suggestion") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :feedback do |f| %>
        <p> CSC 510 </p>
        <%=link_to "Return", root_path%>
        <br />
        <br />
        <br />
        <br />

    <% end %>
  </div>
</div>

</div>