<% provide(:title, "About") %>
<h1>About</h1>
<p>Course Feedback application is designed to provide information about course content and

  offerings to the students who are willing to study those courses during their academic career.

  The kind of courses a student studies makes an impact in their Major, Certifications and their

  inclinations. There are so many factors that contribute to the successful completion of a course,

  so it is important to make a student aware about things like advantages of the course,

  prerequisites required to enroll in course and experiences of the students who have already

  studies that course. The app aims to solve this issue with the help of three approaches 1. Forum

  2. CourseEval 3. Suggestion. The users of this application are majorly of two types a.) Senior

  students who have already studied a course and wish to help and provide suggestion to junior

  students. b.) The students who have queries while selecting a course and need helpful

  suggestions. In the first approach, the Forum, the application has an independent channel of

  each course under specific professor, the users of this forum are the students who wants to

  enroll in the given offering. They post their questions or doubts in the forum, to which the

  senior students in the forum provide answers or share their experience. Hence the student gets

  a useful platform to discuss about a course and can make a healthy decision about studying the

  course. The CourseEval approach provide answers to frequently asked questions before

  selecting a course. The answer is an average of all the set of answers of those questions,

  previously asked to the seniors students who had previously studied the course. Both this

  approaches are helpful when a student is clear about a course he wants to enroll in while the

  third approach Suggestion is helpful when a student wants to utilize, improve or learn certain

  skills or have particular expectations from a course, hence by selecting a few filters the

  application provides course suggestion a student can enroll in as per the matchings of the his

  filter selections. In all, the applications aims to provide the maximum information regarding a

  course which can help a student solve his dilemmas before enrolling into it.</p>
