<% provide(:title, "course_eval") %>
<h1>Course Evaluation</h1>
<%= link_to "Give Feedback", course_eval_givefeedback_path, class: "btn btn-lg btn-primary" %>
<%= link_to "Get Feedback", course_eval_getfeedback_path, class: "btn btn-lg btn-primary" %>
<p>CSC510 project</p>
