<div class="center jumbotron">
<h1>Course Feedback</h1>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Forum", forum_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Course Eval", course_eval_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Suggestion", suggestion_path, class: "btn btn-lg btn-primary" %>

</div>
